<div class="row">
        <div class="col-6">
          <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Type to filter">
        </div>
</div>
      <hr>

    <div id="TablaContainer">
         <table class="table table-striped" *ngIf='apoyos && apoyos.length'>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">identificación</th>
                        <th scope="col">Nombres </th>
                        <th scope="col">Apellidos </th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Valor-Apoyo</th>
                        <th scope="col">Modalidad</th>
                        <th scope="col">Fechas</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let apoyo of apoyos; index as i ">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ apoyo.persona.identificacion }} </td>
                        <td>{{ apoyo.persona.nombres }}</td>
                        <td>{{ apoyo.persona.apellidos }}</td>
                        <td>{{apoyo.persona.sexo  }}</td>
                        <td>{{ apoyo.persona.edad  }}</td>
                        <td>{{ apoyo.departamento}}</td>
                        <td>{{ apoyo.ciudad}}</td>
                        <td>{{ apoyo.valorApoyo}}</td>
                        <td>{{ apoyo.modalidad}}</td>
                        <td>{{ apoyo.fecha}}</td>
                      </tr>
                    </tbody>
                  </table>
                 
    </div>
      
               <div class="form-group">
                  <label>Total</label>
                  <input type="number"  name="total" [(ngModel)]="apoyoTotal"  class="form-control" placeholder="calcular"/>
             </div>

    
